{{ define "main" }}
<content>
  {{ if .Content }}
  <div>{{ .Content }}</div>
  {{ end }}

  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}'>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <div>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ with .Description }}<br/><small>{{ . }}</small>{{ end }}
      </div>
    </li>
    {{ else }}
    <li>No posts yet</li>
    {{ end }}
  </ul>
</content>
{{ end }}
